<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqgIi_J7VIBwmiisYxwuuUUzBY-WYu794</string>
	<key>GCM_SENDER_ID</key>
	<string>798337947510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ildizkitoblari.uz</string>
	<key>PROJECT_ID</key>
	<string>ildizdeeplink</string>
	<key>STORAGE_BUCKET</key>
	<string>ildizdeeplink.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798337947510:ios:9743ae28c3706be5248c57</string>
</dict>
</plist>